# DATABASE
DATABASE_URL="postgresql://username:password@your-neon-host.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://username:password@your-neon-host.neon.tech/neondb?sslmode=require"

# REDIS
REDIS_HOST="localhost"
REDIS_PORT=6379

# SERVER
PORT=4000
FRONTEND_URL="http://localhost:3000"
